ul {
    list-style: none;
    font-size: 50px;
}

.arrow {
    cursor: pointer;
    user-select: none;
}

.arrow::before {
    content: "\25B6";
    color: gray;
    display: inline-block;
    margin-right: 5px;
}